.box-view {
  background: #F5F5F5;
  border: 1px solid black;
  padding: 20px;
  margin-left: 10px;
  border-radius: 50px 50px 50px 50px;
}

.button-search-filters {
    width: 100%;
}

.btn-gr{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.b-el{
    border-radius: 50px 50px 50px 50px;
}

.f-v {
    font-weight: bold;
    text-decoration: underline;
}
.mygrid-wrapper-div {
    overflow: scroll;
    height: 400px;
}

.main-container{
    align: center;
}

.container-buttons{
    display: block;
    padding-top: 20px;
    display: inline-block;

}
.caption-box{
  background: #C1C1C1;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
}
.box-reestr {
  background: #F5F5F5;
  border: 1px solid black;
  height: 720px;
  width: 100%;
  padding: 20px;
  border-radius: 50px 50px 50px 50px;

}

.box-add-upd {
  background: #F5F5F5;
  border: 1px solid black;
  padding: 20px;
  border-radius: 50px 50px 50px 50px;
}

.selectedRow {
  background: #C4FFEB;
}

.showEl {
  display: block;
}

.unShowEl {
  display: none;
}

.disabledEl {
    background-color: black;
    border: 2px solid #666;
}

.box-countRow p{
    align: right;
    display: inline;
}

.box-countRow{
    text-align: center;
    margin: 10px;
}
/**/

#filter-name, #filter-bik {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 50px 50px 50px 50px;
}

.form-control{
    border-radius: 50px 50px 50px 50px;
}

#table-banks {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#table-banks th, #table-banks td {
  text-align: left;
  padding: 12px;
}

#table-banks tr {
  border-bottom: 1px solid #ddd;
}

#table-banks tr.header, #table-banks tr:hover {
  background-color: #f1f1f1;
}


